body,html{
    margin: 0px;
    color: #000000;
    font-size: 1.3rem;
    overflow: hidden;
}

.center{
    text-align: center;
}

#board {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.tile {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

#board {
    margin: 0 auto;
    display: grid;
    border: #000000;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 0px 24px;
    text-align: center;
    text-decoration: none;
}


.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
    box-shadow: none;
}

#one{
    width: 15rem;
    border: 3px solid black;
    position: relative;
    top: 15.5rem;
}
#two{
    width: 15rem;
    border: 3px solid black;
    position: relative;
    top: 19.5rem;
}

#v1 {
    background-color:#000000;
    -webkit-transform:rotate(90deg);
    position:absolute;
    width: 15rem;
    height:4.5px;
    left:27rem;
    top: 17.8rem;
    border:3px;
}

#v2 {
    background-color:#000000;
    -webkit-transform:rotate(90deg);
    position:absolute;
    width: 15rem;
    height:4.5px;
    left:31.8rem;
    top: 17.8rem;
    border:3px;
}

#player1 {
    position: relative;
    right: 38%;
    bottom: 32rem;
}

#player2 {
    position: relative;
    left: 36%;
    bottom: 35.7rem;
}

.tile.winning {
    background-color: rgb(205, 153, 240);
    color: black;
    font-weight: bold; 
}