body,html{
    margin: 0px;
    color: #000000;
    font-size: 1.3rem;
}

.center{
    text-align: center;
}

#board {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

#board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 0px 24px;
    text-align: center;
    text-decoration: none;
}


.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
    box-shadow: none;
}

#one {
    border-bottom: 10px;
    border-left: 10px;
    border-color: #000000;
}